{{ kerb_realm }}
{{ kerb_realm }}     	{{ kerb_server_1 }}:88
{{ kerb_realm }}     	{{ kerb_domain_1 }}:88
{{ kerb_realm }}     	{{ kerb_server_1 }}:749 admin server
{{ kerb_realm }}     	{{ kerb_domain_1 }}:749 admin server
