---
# Update system related accounts
- name: Update ROOT GECOS
  user:
    name: root
    comment: root@{{ ansible_hostname }}
    password: "{{ 'password' | password_hash('sha512') }}"

- name: Create SSERVIC
  user:
    name: sservic
    state: present
    comment: "Security Services"
    uid: 9662
    group: user66
    shell: /bin/bash
    create_home: yes
    home: /usr/sservic
    password: "{{ 'password' | password_hash('sha512') }}"

- name: Update password options
  command: chage -E -1 -m 0 -M 90 -W 7 {{ item }}
  loop:
    - root
    - sservic

- name: create monitor account
  user:
    name: monitor
    state: present
    comment: "UNIX/Linux Monitor"
    uid: 116554
    group: user66
    shell: /bin/bash
    create_home: yes
    home: /usr/monitor
    password: "*K*"
    generate_ssh_key: yes
    ssh_key_type: ed25519
    ssh_key_file: .ssh/id_ed25519
    ssh_key_comment: "monitor@{{ ansible_hostname }}"

- name: update chage for monitor
  command: chage -E -1 -m -1 -M -1 -W -1 monitor

- name: update satremusr for AD authentication
  user:
    name: satremusr
    password: "*K*"

- name: update chage for satremusr
  command: chage -E -1 -m -1 -M -1 -W -1 satremusr
  
- name: create default test.list file
  template:
    src: files/tests.list
    dest: /usr/monitor/test.list
    owner: monitor
    group: user66
    mode: '0644'

- name: create default filesystem.list
  template:
    src: files/filesystem.list
    dest: /usr/monitor/filesystem.list
    owner: monitor
    group: user66
    mode: '0644'

- name: create default daemon.list
  template:
    src: files/daemon.list
    dest: /usr/monitor/daemon.list
    owner: monitor
    group: user66
    mode: '0644'
